@model ApiResultModel<List<Project>>
@{
    ViewData["Title"] = "Projeler";
}
<div class="row"><div class="col-md-12"><h2 class="bd-content-title float-left">Projeler</h2></div></div>
@if (!Model.Success)
{
    <div class="alert alert-danger">Hata! <br /><small class="form-text text-muted">@Model.Error</small></div>
}
<div class="row mt-2 mb-2">
    <div class="col-md-12">
        <form action="/project/save" class="row">
            <div class="col-md-11"><input name="title" class="form-control" placeholder="Proje Başlık" /></div>
            <div class="col-md-1"><button type="submit" class="btn btn-outline-primary float-right">Kaydet</button></div>
        </form>
    </div>
</div>
<ul class="list-group">
    @foreach (var item in Model.Data)
    {
        <li class="list-group-item mt-2" style="cursor:pointer" onclick="window.location='/@item.Url'">@item.Title<br /></li>
    }
</ul>
