@model ApiResultModel<List<Event>>
@{
    ViewData["Title"] = "Durumlar";
}

<div class="row">
    <div class="col-md-12"><h2 class="bd-content-title float-left">Durumlar</h2> </div>
    @if (!Model.Success)
    {
        <div class="alert alert-danger">Hata! <br /><small class="form-text text-muted">@Model.Error</small></div>
    }

    <div class="row mb-2">
        <div class="col-md-12">
            <form action="/event/save" class="row">
                <div class="col-md-11"><input name="name" class="form-control" placeholder="Durum Adı" /></div>
                <div class="col-md-1"><button type="submit" class="btn btn-outline-primary float-right">Kaydet</button></div>
            </form>
        </div>
    </div>

    <ul class="list-group">
        @foreach (var item in Model.Data)
        {
            <li class="list-group-item mt-2" style="cursor:pointer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10">
                                <h5>#@item.Id @item.Name</h5>
                            </div>
                            <div class="col-md-2">
                                <a>Düzenle</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
